src/data/House Prices - Advanced Regression Techniques/test.csv
src/data/House Prices - Advanced Regression Techniques/train.csv
src/data/House Prices - Advanced Regression Techniques/sample_submission.csv
